body {
  background: #fdfdfd; }

.invalid-feedback {
  display: block; }

input.invalid {
  border-color: #dc3545; }

.fa-true {
  color: red; }

.fa-false {
  color: grey; }

.icon-disabled {
  pointer-events: none; }
